.header {
    display: flex;
/*    background: #eee; */
    flex-direction: row;
    justify-content: end;
}

.google_advance_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

#advance_search{
    color: darkred;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    font-size: 22px;
}
#google_advance_logo {
    padding: 10px;
}

li {
    list-style: none;
}

#grid{
    display: grid;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 220px 600px 400px;
    /* background-color: silver; */
}

.grid-item-header {
    font-family: "arial","sans-serif";
    padding-left: 15px;

}
.grid-item-left{
    font-family: "arial","sans-serif";
    font-size: 12px;
    /* background-color: red; */
    padding-top: 7px;
    line-height: 80%;
}

.grid-item {
    font-family: "arial","sans-serif";
    padding-left: 15px;
}
.logo_container {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: end;
/*    background: antiquewhite; */
}

#google_advance_search_button_container{
    display: flex;
    justify-content: end;
}


.ml-auto {
    margin-left: auto;
}
.link {
    padding: 10px;
}

#search_form_container {
    display: flex;
/*    background: aliceblue; */
    justify-content: center;
    align-items: center;
}


#google_search_button_container {
    display: flex;
    align-items: center;

}

#google_image_search_button_container {
    display: flex;
    justify-content: center;

}

.search_button {
    padding: 3px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
}
