.header {
    display: flex;
/*    background: #eee; */
    flex-direction: row;
    justify-content: end;
}

.google_advance_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#google_advance_links > a {
    padding: 2px;
}

li {
    list-style: none;
}

.logo_container {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: end;
/*    background: antiquewhite; */
}
.ml-auto {
    margin-left: auto;
}
.link {
    padding: 10px;
}

#search_form_container {
    display: flex;
/*    background: aliceblue; */
    justify-content: center;
    align-items: center;
}

#google_search_button_container {
    display: flex;
    align-items: center;
    background-color: darkred;
}

#google_image_search_button_container {
    display: flex;
    justify-content: center;

}

.search_button {
    padding: 3px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
}